*{
	border: 0;
	margin: 0;
	padding: 0;
}

body
{
	background-repeat: no-repeat;
	background-size: 100%
}


img
{
	text-align: center;
	padding-top: 6em;
	size: 1em;
}

#logo
{
	size: 5em;
}

h1
{
	font-family: Century Gothic;
	font-size: 7em;
	color: black;
}

/*#button_enter
{
	font-family: Century Gothic;
	color: white;
	border-radius: 0.2em;
	background-color: skyblue;
	font-size: 1.5em;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
	padding-bottom: 1em; 
}*/

a
{
	font-family: Century Gothic;
	color: white;
	border-radius: 0.2em;
	background-color: skyblue;
	font-size: 1.5em;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
	padding-bottom: 1em; 
}

a:hover
{
	background-color: red;
}