/* Reseteo universal */
* {
	border: 0em;
	margin: 0em;
	padding: 0em;
}

/* Fuentes de la pàgina */
@font-face {
	font-family: "Lobster";
    src: url("../fonts/lobster/Lobster_1.3.otf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

section {
	max-width: 100%;
	text-align: center;
}

section, h1, h3 {
	display: block;
}

img{
	padding-top: 5em;
}

h1, h3 {
	font-family: "Lobster";
	margin-top: .1em;
	text-align: center;
}

h1 {
	font-size: 10em;
}

h3 {
	margin-top: .3em;
	font-size: 3em;
}

h3 a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	-ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

h3 a:hover {
	color: rgb(85, 26, 139);
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* Estilos para las clases definidas en las etiquetas HTML */
.fade {
	opacity: 1;
    filter: alpha(opacity=10);
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.fade:hover {
	opacity: 0.7;
    filter: alpha(opacity=7);
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* MediaQuery's para controlar el tamaño de las etiquetas HTML
en base al tamaño de la pantalla */

@media (min-width:1280px) {
    section#secLogo {
        max-width: 100%;
    }

    h1, h3 {
        text-align: center;
        width: 100%;
    }
}

@media (max-width:1279px) {
	img {
		max-height: 80%;
		max-width: 80%;
		-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
	}

	section h1 {
        font-size: 7em;
        -ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }

    section h3 {
    	font-size: 3.5em;
    	-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }
}

@media (max-width:1024px) {
	img {
		max-height: 50%;
		max-width: 50%;
		-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
	}

    section h1 {
    	font-size: 5.5em;
    	-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }

    section h3 {
    	font-size: 2.2em;
    	-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }
}

@media (max-width:800px) {
	img {
		max-height: 30%;
		max-width: 30%;
		-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
	}

    section h1 {
        font-size: 4em;
        -ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }

    section h3 {
    	font-size: 1.5em;
    	-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }
}

@media (max-width:600px) {
	img {
		max-height: 25%;
		max-width: 25%;
		-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
	}

    section h1 {
        font-size: 2em;
        -ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }

    section h3 {
    	font-size: .8em;
    	-ms-transition: all 0.5s ease-in;
    	-moz-transition: all 0.5s ease-in;
    	-o-transition: all 0.5s ease-in;
    	-webkit-transition: all 0.5s ease-in;
    	transition: all 0.5s ease-in;
    }
}